/build/images/trash.jpg
/build/frameworks/taphold.js
/build/frameworks/jquery.ui-contextmenu.min.js
/build/frameworks/jquery.ui-contextmenu.js
/build/frameworks/contextMenu.js
/build/frameworks/Super-Theme-Switcher/
**tags
/.project
/node_module/*
node_modules/*
