    <div class="frame">
        <div class="mainview view">
            <div class="day_view with_controls selected" style="display: block;">
                <header>  
                    <h1 class="title">    
                        History <span class="sub_title"> Last Week</span>  
                    </h1>  
                    <div class="corner">    
                        <input class="search" placeholder="Search title, url, or date" type="text" tabindex="1">  
                    </div>  
                    <div class="controls">    
                        <a class="text back_to_week" href="#weeks/10-21-13">      ← Back to Week    </a>    
                        <div class="spacer"></div>    
                        <!-- <button class="delete_day">      Delete...    </button>   -->
                        <!-- <button id="refresh_display">Refresh</button>   -->
                        <button id="update_evernote_token">update evernote token</button>  
                        <button id="sync_to_evernote">sync to evernote</button>  
                        <button id="import_json">import</button>  
                        <button id="export_json">export</button>  
                        <button id="view_network">View as network</button>  

                        <!-- <div><input type="checkbox" name="auto_refresh" value="Bike" id="auto_refresh" checked>Auto Refresh</div> -->
                    </div>
                </header>
                <div class="content">
                    <div id="history_items">            
                    </div>
                </div>        
            </div>
        </div>

        <div class="navigation">    
        </div>
    </div>
