            <h1>      <a href="#/">        Tag History </a>    </h1>    
            <div class="available_tags"></div>    
            <ul class="menu">      
                <div id="menu_title">Tags</div>
                <!-- <li class="">        <a class="tags" href="#tags">          Tags          </a>      </li>     -->
            </ul>    
            <div class="menu menu_view disappearable" id="tags_menu">
                <!-- <ul class="menu">       -->
                <!--     <li>       -->
                <!--     <div id="tag1" class="tags">Research</div> -->
                <!--     <div id="tag2" class="tags">Music</div> -->
                <!--     </li>       -->
                <!-- </ul> -->
            </div>
            <div class="menu menu_view disappearable" id="tags_menu1">
                <!-- <ul><li>Plus</li></ul> -->
                <!-- <div class="tags">+</div> -->
                <!-- </div> -->
                <p class="speech">Tagged !</p>
                <ul class="menu disappearable"><li class="">        <a
                        class="setting" href="#settings">          Settings        </a>
                    <div>
                    <div>Interval</div> 
                    <div id="interval_slider"></div>
                    <div id='interval_value'></div>
                    </div>
                </li></ul>  
            </div>
            <div class="menu disappearable" id="trash_bin" align="middle">
                <img src="images/trash.ico" alt="trash", height="80" width="80" align="middle">
            </div>



            <!-- <div id="coverup"></div> -->
